* {
  font-family: 'Libre Baskerville', serif;
}

#wrapper {
  min-width: 330px;
  max-width: 500px;
  margin: 0 auto;
  background: radial-gradient(#eee, #def);
  padding: 10px;
  border-radius: 50px;
  border-style: solid;
}

img {
  max-width: 230px;
  display: block;
  margin: 10px auto;
  border-radius: 50px;
}

h1, h2, h3, p {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 10px auto;
}